@font-face{
    font-family: popins;
    font-weight: lighter;
    src: url(../fonts/Poppins-Light.otf);
}
@font-face{
    font-family: popins;
    font-weight: bold;
    src: url(../fonts/Poppins-Bold.otf);
}
@font-face{
    font-family: popins;
    font-weight: 100;
    src: url(../fonts/Poppins-ExtraLight.otf);
}
@font-face{
    font-family: popins;
    font-weight: 100;
    font-style: italic;
    src: url(../fonts/Poppins-ExtraLightItalic.otf);
}
@font-face{
    font-family: popins;
    font-weight: 200;
    src: url(../fonts/Poppins-Regular.otf);
}
@font-face{
    font-family: popins;
    font-weight: 300;
    src: url(../fonts/Poppins-Medium.otf);
}
@font-face{
    font-family: popins;
    font-weight: 800;
    src: url(../fonts/Poppins-Black.otf);
}