/*
@mixin gradientText(){
    color:#f81f01;
    background: -webkit-linear-gradient(-45deg,#f81f01 -50%,#ee076e 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
*/
/*
@mixin silverDesc(){
    letter-spacing: 1px;
    color: rgb(194, 194, 194);
    font-weight: 100;
    font-size: 15px;
    word-spacing: 1px;
    line-height: 160%;
}
*/
/*# sourceMappingURL=blocks.css.map */