/*--------GENERAL PROPERTIES--------*/
@import './fonts';
@import './blocks';

/*Podesavanjem maximalne velicine wrepera diktiram sirinu celokupnog sadrzaja*/
.wrapper{
    max-width: 570px;
    margin:0 auto;
    padding:0 20px;
    
}
body,a{
    background-color: #121212;
    color:#f8f9fc;
    text-decoration: none;
    font-family: popins, sans-serif;
    font-weight: lighter;
}
a{
    background-color: transparent;
}
header{
    position:fixed;
    min-width: 100%;
    background-color: #1212126e;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 10px;
    min-height: 70px;
    z-index: 5;
    /*Display off nav list for mobile devices*/
    nav{display: none;}

    img{
        cursor: pointer;
        &:first-child/*Logo*/{
            width: 165px;
        }
        &:last-child/*Responsive menu*/{
            width: 25px;
            position: relative;
            right: 0;
            transition: all 0.1s;
        }
        &:last-child:hover{
            transform: scale(1.2);
        }
    }
}

.responsive-menu{
    position: fixed;
    transition: all 0.5s;
    right: -230px;
    top:0;
    z-index: 6;
    height: 100vh;
    width: 220px;
    background-color: rgb(37, 37, 37);
    padding-left: 20px;
    padding-top:40px;
    ul li{
        margin-bottom: 30px;
        a{
            transition: all 0.4s;
            &:hover{
                color:#ee076e;
            }
        }
        
        
    }
    p{
        margin-top:80px;
        transition: all 0.4s;
        cursor: pointer;
        &:hover{
            color:#ee076e;
        }
    }
}
.res_active{
    right: 0;
}

footer{
    display: grid;
    grid-template-columns: 1fr;
    .left-footer{
        //Pomeramo height za responsive
        position: relative;
        min-height: 260px;
        border:1px solid rgb(197, 17, 92);
        padding:45px 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include backImg();
        background-image: url(../images/home/footer_back.jpg);
        button{
            background-color:transparent;
            border: 2px solid #ffffff;
            border-radius: 7px;
            width: 150px;
            padding:7px 0;
            a{
                color:#fff;
                background-color: transparent;
                font-weight: 200;
            }
            opacity: 0.9;
        }
        h3{
            font-weight: 800;
            font-size: 2.4em;
            opacity: 0.9;
        }
        p{
            font-size: 0.8em;
            font-weight: 200;
        }
    }
    .right-footer{
        //border:1px solid rgb(9, 116, 187);
        color:rgb(194, 194, 194);
        padding:50px 25px;
        display: grid;
        grid-template-columns: 1fr;
        gap:20px;
        font-weight: 200;
        li:not(:first-of-type){
            font-size: 0.9em;
            padding-top:20px;
        }
        a{
            color:rgb(194, 194, 194);
            background-color: transparent;
            display: block;
            font-weight: 200;
            font-size: 0.9em;
            padding-top:20px;
            transition: 0.2s all;
            &:hover{
                color:#ee076e;
            }
        }
        li:not(:first-child){
            transition: 0.2s all;
            cursor: pointer;
            &:hover{
                color:#ee076e;
            }
        }
        .menu-quick{
            //border:1px solid orangered;
            margin-bottom: 50px;
        }
        .menu-say{
            //border:1px solid blue;
            .social-icons{
                height: 20px;
                display: flex;
                margin-top:30px;
                .icon{
                    height: 20px;
                    width:20px;
                    margin-right: 10px;
                    transition: all 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
                    background-image:url(../images/spite/social-icons/facebook.png);
                    background-size: cover;
                    background-position-y: 100%;
                    cursor: pointer;
                }
                .icon:hover{
                    background-position-y: 0;
                }
                .i-facebook{
                    background-image:url(../images/spite/social-icons/facebook.png);
                }
                .i-linkedin{
                    background-image:url(../images/spite/social-icons/linkedin.png);
                }
                .i-twitter{
                    background-image:url(../images/spite/social-icons/twitter.png);
                }
                .i-youtube{
                    background-image:url(../images/spite/social-icons/youtube.png);
                }
            }
        }
    }
    p.last{
        font-weight: lighter;
        margin-top: 30px;
    }
}





/*-----------------SHOP LIGHTBOX--------------*/

.shop-lightbox{
    position: fixed;
    left:50%;
    background-color: rgba(6, 9, 20, 0.918);
    transform:translateX(-50%);
    border:2px solid rgba(83, 83, 83, 0.315);
    border-radius: 10px;
    width:90%;
    height:100vh;
    //height: 90vh;
    top:0;
    display: none;
    grid-template-columns: 1fr;
    transition: all 0.5s;
    .content{
        padding:30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //border: 2px solid green;
        font-weight: 200;
        color:rgb(186, 181, 202);
        a{
            color:#fff;
            font-weight: 300;
        }
        .up{
            height: 15%;
            @include backImg();
            background-position: left;
            background-size: contain;
            background-image: url(../images/home/logo.png);
        }
        .mid{
            p:nth-of-type(2){
                font-size: 1.6em;
                font-weight: 300;
                @include gradientText();
                padding:12px 0;
            }
            p:nth-of-type(3){
                margin-top: 10px;
                display: inline-block;
                border:1px solid #ee076e;
                font-size: 0.9em;
                padding:8px 30px;
                border-radius: 5px;
                transition: all 0.5s ease-in-out;
                cursor: pointer;
                &:hover{
                    background: -webkit-linear-gradient(-45deg,#f81f01 -50%,#ee076e 100%);
                    color:#fff;
                }
            }
        }
        .bottom{
            line-height: 120%;
        }
    }
    .photos{
        //border: 1px solid blue;
        height: 100%;
        @include backImg();
        background-image: url(../images/home/shop1min.jpg)
    }
}
@keyframes showShop{
    0%{
        opacity:0;
        filter: saturate(0);
    }
    50%{
        opacity: 1;
    }
    100%{
        filter: saturate(1);
    }
}
@keyframes clearShop{
    0%{
        
        filter: saturate(1);
    }
    50%{
        opacity: 1;
    }
    100%{
        filter: saturate(0);
        opacity:0;
    }
}
.shop-active{
    display: grid;
    animation: showShop 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86)  1;
}


/*--------Pages style files--------*/
@import './pages/index';


/*--------Responsive properties--------*/
@media only screen and (min-width:575px){
    .home-top{
        h1{
            font-size:3.2em;
            line-height: 130%;
        }
        .ht-sections{
            gap:20px;
            grid-template-columns: 1fr 1fr;
        }
    }
    .home-about{
        .ha-image{
            height: 700px;
        }
        .ha-numbers{
            max-width: 450px;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    .ho-sections{
        grid-template-columns: 1fr 1fr;
        
        .ho-section{
            background: $lighterBack;
            transition: all .3s cubic-bezier(0.77, 0, 0.175, 1);
            img{
                filter:brightness(1)
            }
            &:hover{
                background: -webkit-linear-gradient(-45deg,#f81f01 0%,#ee076e 100%);
                img{
                    filter: brightness(50);
                }
                transform: translateY(-5px);
            }
        }

    }
    .contact .photo{
        height: 420px;
    }
}
@media only screen and(min-width:768px){
    .wrapper{
        max-width: 765px;
    }
    .home-top{
        h1{
            font-size: 4.3em;
        }
    }
    .home-quality{
        .hq-sections{
            .hq-inner{
                width:50%;
                margin-right: 0px;
            }
        }
        .hq-ffacts{
            gap:20px;
            grid-template-columns: 1fr 1fr 1fr;
            .facts-inner{
                p:first-child{
                    font-weight: bold;
                    font-size:3.3em;
                }
            }
        }
    }
    .p-testimonials{
        p.people-desc{
            font-size: 1.5em;
        }
        .people-sections{
            grid-template-columns: repeat(5,1fr);
            .p-photo{
                &:nth-of-type(6){
                    grid-column-start: 2;
                } 
            }
        }
    }
    .pricing{
        .pricing-tables{
            grid-template-columns: 1fr 1fr;
        }
    }

    .contact .photo{
        height: 550px;
    }
    .shop-lightbox{
        grid-template-columns: 1fr 1fr;
    }

    footer{
        .left-footer{
            min-height: 400px;
            p{
                font-size: 0.9em;
                font-weight: lighter;
                letter-spacing: 3px;
            }
            h3{
                font-size: 4.5em;
            }
            button{
                padding:10px 30px;
                width: 180px;
                a{
                    font-weight: bold;
                }
            }
        }
        .right-footer{
            grid-template-columns: 1fr 1fr;
        }
        p.last{
            display: inline-block;
            width: 500px;
            font-size: 0.8em;
        }
    }
    
    
}
@media only screen and(min-width:992px){
    .wrapper{
        max-width: 990px;
    }
    header{
        //border:1px solid greenyellow;
        height: 120px;
        img:last-child{
            display: none;
        }
        nav{
            display: inline-block;
            margin-right: 20px;
            ul li{
                float:left;
                margin-right: 20px;
                a{
                    font-weight: 300;
                    transition: 0.2s all;
                    &:hover{
                        color:#ee076e;
                    }
                }
                a.active{
                    color:#ee076e;
                }
            }
        }
    }
    .home-top{
        h1{
            margin-top:160px;
            margin-bottom: 80px;
            font-size: 5em;
            line-height: 100%;
        }
        .ht-sections{
            grid-template-columns: 1fr 1fr 1fr;
        }
        padding-bottom: 100px;
    }
    .home-about{
        .wrapper{
            grid-template-columns: 0.9fr 2fr;
            gap:40px;
        }
        .ha-image{
            height:430px;
        }

    }
    .home-quality{
        .hq-sec-nav{
            margin-top:20px;
        }
    }
    .pricing{
        .pricing-tables{
            grid-template-columns: 1fr 1fr 1fr;
            .pricing-table:hover{
                background: -webkit-linear-gradient(-45deg,#f81f01 -20%,#ee076e 100%);
                border:none;
                p,a,ul li,ul li span,p.plan,p.price,p.upm{color:#fff;}
                button{
                    background-color: #fff;
                    a{color:#ee076e;}
                }
            }
        }
    }
    .testimonials{
        .wrapper{
            img{
                width: 80px;
            }
            grid-template-columns: repeat(6,1fr);
            img:nth-of-type(7){
                display: none;
            }
            img:nth-of-type(8){
                grid-column-start: 3;
            }
        }
    }
    .home-quality .hq-sections .hq-inner{
        width: 25%;
    }

    .contact{
        .wrapper{
            grid-template-columns: 1fr 1fr;
            .main{
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start:1 ;
            }
            .photo{
                grid-column-start: 2;
                grid-column-end: 3;
            }
        }
    }

    footer{
        grid-template-columns: 50% 50%;
        overflow-y: visible;
        p.last{
            width: 400px;
        }
        .right-footer{
            grid-template-columns: 50% 50%;
        }
    }
    .ho-sections{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .home-our{
        .ho-sections{
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media only screen and(min-width:1200px){
    .wrapper{
        max-width: 1199px;
    }
}








