/*--------GENERAL PROPERTIES--------*/
@font-face {
  font-family: popins;
  font-weight: lighter;
  src: url(../fonts/Poppins-Light.otf);
}

@font-face {
  font-family: popins;
  font-weight: bold;
  src: url(../fonts/Poppins-Bold.otf);
}

@font-face {
  font-family: popins;
  font-weight: 100;
  src: url(../fonts/Poppins-ExtraLight.otf);
}

@font-face {
  font-family: popins;
  font-weight: 100;
  font-style: italic;
  src: url(../fonts/Poppins-ExtraLightItalic.otf);
}

@font-face {
  font-family: popins;
  font-weight: 200;
  src: url(../fonts/Poppins-Regular.otf);
}

@font-face {
  font-family: popins;
  font-weight: 300;
  src: url(../fonts/Poppins-Medium.otf);
}

@font-face {
  font-family: popins;
  font-weight: 800;
  src: url(../fonts/Poppins-Black.otf);
}

/*
@mixin gradientText(){
    color:#f81f01;
    background: -webkit-linear-gradient(-45deg,#f81f01 -50%,#ee076e 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
*/
/*
@mixin silverDesc(){
    letter-spacing: 1px;
    color: rgb(194, 194, 194);
    font-weight: 100;
    font-size: 15px;
    word-spacing: 1px;
    line-height: 160%;
}
*/
/*Podesavanjem maximalne velicine wrepera diktiram sirinu celokupnog sadrzaja*/
.wrapper {
  max-width: 570px;
  margin: 0 auto;
  padding: 0 20px;
}

body, a {
  background-color: #121212;
  color: #f8f9fc;
  text-decoration: none;
  font-family: popins, sans-serif;
  font-weight: lighter;
}

a {
  background-color: transparent;
}

header {
  position: fixed;
  min-width: 100%;
  background-color: #1212126e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px;
  min-height: 70px;
  z-index: 5;
  /*Display off nav list for mobile devices*/
}

header nav {
  display: none;
}

header img {
  cursor: pointer;
}

header img:first-child {
  width: 165px;
}

header img:last-child {
  width: 25px;
  position: relative;
  right: 0;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

header img:last-child:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.responsive-menu {
  position: fixed;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  right: -230px;
  top: 0;
  z-index: 6;
  height: 100vh;
  width: 220px;
  background-color: #252525;
  padding-left: 20px;
  padding-top: 40px;
}

.responsive-menu ul li {
  margin-bottom: 30px;
}

.responsive-menu ul li a {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.responsive-menu ul li a:hover {
  color: #ee076e;
}

.responsive-menu p {
  margin-top: 80px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.responsive-menu p:hover {
  color: #ee076e;
}

.res_active {
  right: 0;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

footer .left-footer {
  position: relative;
  min-height: 260px;
  border: 1px solid #c5115c;
  padding: 45px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/home/footer_back.jpg);
}

footer .left-footer button {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 7px;
  width: 150px;
  padding: 7px 0;
  opacity: 0.9;
}

footer .left-footer button a {
  color: #fff;
  background-color: transparent;
  font-weight: 200;
}

footer .left-footer h3 {
  font-weight: 800;
  font-size: 2.4em;
  opacity: 0.9;
}

footer .left-footer p {
  font-size: 0.8em;
  font-weight: 200;
}

footer .right-footer {
  color: #c2c2c2;
  padding: 50px 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
  font-weight: 200;
}

footer .right-footer li:not(:first-of-type) {
  font-size: 0.9em;
  padding-top: 20px;
}

footer .right-footer a {
  color: #c2c2c2;
  background-color: transparent;
  display: block;
  font-weight: 200;
  font-size: 0.9em;
  padding-top: 20px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

footer .right-footer a:hover {
  color: #ee076e;
}

footer .right-footer li:not(:first-child) {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  cursor: pointer;
}

footer .right-footer li:not(:first-child):hover {
  color: #ee076e;
}

footer .right-footer .menu-quick {
  margin-bottom: 50px;
}

footer .right-footer .menu-say .social-icons {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

footer .right-footer .menu-say .social-icons .icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  -webkit-transition: all 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: all 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  background-image: url(../images/spite/social-icons/facebook.png);
  background-size: cover;
  background-position-y: 100%;
  cursor: pointer;
}

footer .right-footer .menu-say .social-icons .icon:hover {
  background-position-y: 0;
}

footer .right-footer .menu-say .social-icons .i-facebook {
  background-image: url(../images/spite/social-icons/facebook.png);
}

footer .right-footer .menu-say .social-icons .i-linkedin {
  background-image: url(../images/spite/social-icons/linkedin.png);
}

footer .right-footer .menu-say .social-icons .i-twitter {
  background-image: url(../images/spite/social-icons/twitter.png);
}

footer .right-footer .menu-say .social-icons .i-youtube {
  background-image: url(../images/spite/social-icons/youtube.png);
}

footer p.last {
  font-weight: lighter;
  margin-top: 30px;
}

/*-----------------SHOP LIGHTBOX--------------*/
.shop-lightbox {
  position: fixed;
  left: 50%;
  background-color: rgba(6, 9, 20, 0.918);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 2px solid rgba(83, 83, 83, 0.315);
  border-radius: 10px;
  width: 90%;
  height: 100vh;
  top: 0;
  display: none;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.shop-lightbox .content {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 200;
  color: #bab5ca;
}

.shop-lightbox .content a {
  color: #fff;
  font-weight: 300;
}

.shop-lightbox .content .up {
  height: 15%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-size: contain;
  background-image: url(../images/home/logo.png);
}

.shop-lightbox .content .mid p:nth-of-type(2) {
  font-size: 1.6em;
  font-weight: 300;
  background: linear-gradient(-45deg, #f81f01 -50%, #ee076e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 12px 0;
}

.shop-lightbox .content .mid p:nth-of-type(3) {
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #ee076e;
  font-size: 0.9em;
  padding: 8px 30px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.shop-lightbox .content .mid p:nth-of-type(3):hover {
  background: -webkit-linear-gradient(-45deg, #f81f01 -50%, #ee076e 100%);
  color: #fff;
}

.shop-lightbox .content .bottom {
  line-height: 120%;
}

.shop-lightbox .photos {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/home/shop1min.jpg);
}

@-webkit-keyframes showShop {
  0% {
    opacity: 0;
    -webkit-filter: saturate(0);
            filter: saturate(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-filter: saturate(1);
            filter: saturate(1);
  }
}

@keyframes showShop {
  0% {
    opacity: 0;
    -webkit-filter: saturate(0);
            filter: saturate(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-filter: saturate(1);
            filter: saturate(1);
  }
}

@-webkit-keyframes clearShop {
  0% {
    -webkit-filter: saturate(1);
            filter: saturate(1);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-filter: saturate(0);
            filter: saturate(0);
    opacity: 0;
  }
}

@keyframes clearShop {
  0% {
    -webkit-filter: saturate(1);
            filter: saturate(1);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-filter: saturate(0);
            filter: saturate(0);
    opacity: 0;
  }
}

.shop-active {
  display: -ms-grid;
  display: grid;
  -webkit-animation: showShop 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1;
          animation: showShop 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1;
}

/*--------Pages style files--------*/
/*Home general styles*/
h2.sec-pinkhead {
  width: 100%;
  margin: 30px 0;
  color: #ee0739;
  font-weight: 200;
}

p.sec-head {
  width: 100%;
  font-weight: bold;
  font-size: 1.9em;
  line-height: 130%;
}

p.sec-desc {
  letter-spacing: 1px;
  color: #c2c2c2;
  font-weight: 100;
  font-size: 15px;
  word-spacing: 1px;
  line-height: 160%;
  padding: 30px 0;
}

/*Home general styles*/
.home-top {
  padding: 90px 0 20px 0;
}

.home-top h1 {
  background: linear-gradient(-45deg, #f81f01 -50%, #ee076e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 2.8em;
  padding-bottom: 20px;
}

.home-top .ht-sections {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.home-top .ht-sections img {
  width: 50px;
}

.home-top .ht-sections .ht-section {
  margin-bottom: 30px;
}

.home-top .ht-sections .ht-section p.ht-heading {
  font-size: 1.1em;
  font-weight: 200;
  color: #d6d6d6;
  padding: 18px 0;
}

.home-top .ht-sections .ht-section p.ht-description {
  letter-spacing: 1px;
  color: #c2c2c2;
  font-weight: 100;
  font-size: 15px;
  word-spacing: 1px;
  line-height: 160%;
}

.home-about {
  background-color: #191919;
  padding: 60px 0;
}

.home-about .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.home-about .ha-image {
  height: 500px;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/home/about-1.jpg);
}

.home-about .ha-numbers {
  color: #f81f01;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-size: 0.9em;
}

.home-about .ha-numbers p.awards_num {
  color: #ee076e;
  margin-top: 10px;
  font-size: 1.8em;
  font-weight: bold;
}

.home-our {
  padding: 50px 0;
}

.home-our h2.sec-pinkhead, .home-our p.sec-head, .home-our p.sec-desc {
  text-align: center;
}

/*Stilizovanje gradijentalnih sekcija*/
.ho-sections {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 30px;
}

.ho-section {
  padding: 30px;
  border-radius: 7px;
  background: -webkit-linear-gradient(-45deg, #f81f01 0%, #ee076e 100%);
  /*Hover should delete img filter and background color(put colored background for hover)*/
}

.ho-section img {
  width: 50px;
  -webkit-filter: brightness(50);
          filter: brightness(50);
}

.ho-section p:first-of-type {
  font-size: 1.1em;
  font-weight: 300;
  padding: 20px 0;
}

.ho-section p:last-of-type {
  line-height: 160%;
}

/*Stilizovanje gradijentalnih sekcija*/
.home-quality {
  padding: 50px 0;
  background-color: #191919;
  width: 100%;
  overflow: hidden;
  /*-------SLIDER-----*/
  /*Slider navigation*/
}

.home-quality h2.sec-pinkhead, .home-quality p.sec-head {
  text-align: center;
}

.home-quality p.sec-head {
  padding-bottom: 40px;
}

.home-quality .hq-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #0ff;
}

.home-quality .hq-sections::-webkit-scrollbar {
  height: 5px;
}

.home-quality .hq-sections::-webkit-scrollbar-track {
  background: #3f3f3f;
}

.home-quality .hq-sections::-webkit-scrollbar-thumb {
  background-color: #3f3f3f;
  border-radius: 4px;
  border: 3px solid #ee076e;
}

.home-quality .hq-sections .hq-inner {
  scroll-snap-align: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 480px;
  margin-right: 50px;
  padding: 20px;
}

.home-quality .hq-sections .hq-inner .background {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border-radius: 5px;
  padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-quality .hq-sections .hq-inner .background p:first-of-type {
  color: #c4c4c4;
  font-size: 0.9em;
}

.home-quality .hq-sections .hq-inner .background p:last-of-type {
  font-weight: 300;
  font-size: 1.2em;
  margin: 30px 0;
  text-transform: capitalize;
}

.home-quality .hq-sections .hq-inner .background button {
  background-color: transparent;
  border: 2px solid rgba(133, 133, 133, 0.8);
  border-radius: 7px;
  width: 150px;
  padding: 7px 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.home-quality .hq-sections .hq-inner .background button:hover {
  background-color: #ee076e;
}

.home-quality .hq-sections .hq-inner .background button a {
  color: #fff;
  font-size: 1.05em;
  background-color: transparent;
}

.home-quality .hq-sections .hq-inner:nth-of-type(1) .background {
  background-image: url(../images/home/portfolio-6-390x532.jpg);
}

.home-quality .hq-sections .hq-inner:nth-of-type(2) .background {
  background-image: url(../images/home/portfolio-1-390x532.jpg);
}

.home-quality .hq-sections .hq-inner:nth-of-type(3) .background {
  background-image: url(../images/home/portfolio-5-390x532.jpg);
}

.home-quality .hq-sections .hq-inner:nth-of-type(4) .background {
  background-image: url(../images/home/portfolio-7.jpg);
}

.home-quality .hq-sections .hq-inner:nth-of-type(5) .background {
  background-image: url(../images/home/portfolio-8.jpg);
}

.home-quality .hq-sections .hq-inner:nth-of-type(6) .background {
  background-image: url(../images/home/portfolio-1-390x532.jpg);
}

.home-quality .hq-sec-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
  /*
        .point{
            width: 7px;
            height: 7px;
            border-radius: 50%;
            margin:0 8px;
            background-color: grey;
        }
        .p-active{
            box-sizing: content-box;
            background-color: transparent;
            border:2px solid #ee076e;
        }
        */
}

.home-quality .wrapper {
  margin-top: 60px;
}

.home-quality .hq-ffacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
}

.home-quality .hq-ffacts .facts-inner {
  padding: 15px 0;
}

.home-quality .hq-ffacts .facts-inner p:first-child {
  color: #ee076e;
  font-weight: 300;
  font-size: 2.5em;
}

.home-quality .hq-ffacts .facts-inner p:last-child {
  color: #8d8d8d;
  font-weight: 200;
  word-spacing: 1px;
  line-height: 170%;
  padding: 10px 0;
}

.home-ourservices-heading {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/home/honeycomb-background.jpg);
  height: 500px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-ourservices-heading h2 {
  background: linear-gradient(-45deg, #f81f01 -50%, #ee076e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 2.1em;
  padding-bottom: 40px;
}

.home-ourservices-heading p {
  color: #8d8d8d;
  font-weight: 200;
  word-spacing: 1px;
  line-height: 170%;
  padding: 10px 0;
}

.home-ourservices-heading p span {
  color: #fff;
}

/*Za responsivni dizajn kontrolisati generalne klase*/
.home-ourservices, .home-marketing, .home-reporting {
  padding: 50px 0;
}

.home-ourservices h2.sec-pinkhead, .home-marketing h2.sec-pinkhead, .home-reporting h2.sec-pinkhead {
  margin: 10px 0;
}

.home-ourservices p.ho-heading, .home-marketing p.ho-heading, .home-reporting p.ho-heading {
  padding-bottom: 30px;
}

.p-testimonials {
  padding: 70px 0;
  text-align: center;
  background: #191919;
}

.p-testimonials p.people-desc {
  font-weight: 200;
  font-size: 1.2em;
  line-height: 180%;
  padding-bottom: 30px;
}

.p-testimonials p.people-name {
  font-size: 0.8em;
  font-weight: 200;
}

.p-testimonials p.people-name span {
  font-weight: lighter;
  letter-spacing: 1px;
  opacity: 0.7;
  line-height: 150%;
}

.p-testimonials .people-sections {
  max-width: 510px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.p-testimonials .people-sections .p-photo {
  max-width: 80px;
  height: 80px;
  border-radius: 5px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.p-testimonials .people-sections .p-photo:nth-of-type(1) {
  background-image: url(../images/home/testimonial-1.jpg);
}

.p-testimonials .people-sections .p-photo:nth-of-type(2) {
  background-image: url(../images/home/testimonial-2.jpg);
}

.p-testimonials .people-sections .p-photo:nth-of-type(3) {
  background-image: url(../images/home/testimonial-3.jpg);
}

.p-testimonials .people-sections .p-photo:nth-of-type(4) {
  background-image: url(../images/home/testimonial-4.jpg);
}

.p-testimonials .people-sections .p-photo:nth-of-type(5) {
  background-image: url(../images/home/testimonial-5.jpg);
}

.p-testimonials .people-sections .p-photo:nth-of-type(6) {
  background-image: url(../images/home/testimonial-6.jpg);
}

.p-testimonials .people-sections .p-photo:nth-of-type(7) {
  background-image: url(../images/home/testimonial-7.jpg);
}

.p-testimonials .people-sections .p-photo:nth-of-type(8) {
  background-image: url(../images/home/testimonial-8.jpg);
}

.p-testimonials .people-sections .p-photo:hover {
  opacity: 0.8;
}

.testimonials {
  max-width: 700px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 70px 0;
}

.testimonials .wrapper {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.testimonials img {
  -webkit-filter: brightness(7);
          filter: brightness(7);
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pricing {
  text-align: center;
  margin-bottom: 70px;
}

.pricing .pricing-tables {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
}

.pricing .pricing-table {
  border: 2px solid rgba(128, 128, 128, 0.753);
  border-radius: 7px;
  -webkit-transition: all 0.3 cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: all 0.3 cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.pricing .pricing-table .top {
  position: relative;
}

.pricing .pricing-table .top p.plan {
  padding: 30px 0;
  font-weight: 300;
}

.pricing .pricing-table .top p.price {
  font-size: 4em;
  font-weight: 300;
  color: #ee076e;
}

.pricing .pricing-table .top p.upm {
  font-size: 0.8em;
  color: #ee076e;
  padding-bottom: 30px;
}

.pricing .pricing-table .top::after {
  content: '';
  position: absolute;
  width: 180px;
  height: 2px;
  bottom: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ee076f42;
}

.pricing .pricing-table .bottom ul {
  padding: 30px 0 20px 0;
}

.pricing .pricing-table .bottom li {
  font-weight: 200;
  color: #c2c2c2;
  font-size: 0.9em;
  padding-bottom: 20px;
}

.pricing .pricing-table .bottom li span {
  color: #ee076e;
}

.pricing .pricing-table .bottom button {
  background-color: transparent;
  border: 2px solid #ee076e;
  border-radius: 7px;
  width: 150px;
  padding: 7px 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: 35px;
  cursor: pointer;
}

.pricing .pricing-table .bottom button:hover {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.pricing .pricing-table .bottom button a {
  background-color: transparent;
}

.pricing .pricing-tables .active {
  background: -webkit-linear-gradient(-45deg, #f81f01 -20%, #ee076e 100%);
  border: none;
}

.pricing .pricing-tables .active p, .pricing .pricing-tables .active a, .pricing .pricing-tables .active ul li, .pricing .pricing-tables .active ul li span, .pricing .pricing-tables .active p.plan, .pricing .pricing-tables .active p.price, .pricing .pricing-tables .active p.upm {
  color: #fff;
}

.pricing .pricing-tables .active button {
  background-color: #fff;
  border: none;
}

.pricing .pricing-tables .active button a {
  color: #ee076e;
}

.contact-field {
  background: #191919;
  padding: 65px 0;
}

.contact-field h2.sec-pinkhead, .contact-field p.sec-head, .contact-field p.sec-desc {
  text-align: center;
}

.contact-field .ho-sections .ho-section {
  background-color: #121212;
}

.contact .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 40px;
  padding: 70px 20px;
}

.contact .photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/home/about-6-768x811.jpg);
  width: 100%;
  height: 330px;
  border-radius: 10px;
}

.contact .main p.contact-heading {
  font-weight: bold;
  font-size: 2.8em;
}

.contact .main p.sec-desc a {
  font-weight: 200;
}

.contact .main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.contact .main form input {
  font-family: popins, sans-serif;
  font-weight: lighter;
  height: 45px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid #5e5e5e;
  border-radius: 7px;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
}

.contact .main form textarea {
  resize: none;
  max-width: 100%;
  height: 130px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid #5e5e5e;
  border-radius: 5px;
  border-radius: 7px;
  color: #fff;
  font-family: popins, sans-serif;
  font-weight: lighter;
  font-size: 0.9em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  padding-top: 10px;
}

.contact .main form input[type="submit"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ee076e;
  color: #fff;
  height: auto;
  width: 200px;
  border: 2px solid transparent;
  font-size: 0.9em;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact .main form input[type="submit"]:hover {
  border: 2px solid #ee076e;
  background-color: transparent;
  color: #ee076e;
}

/*--------Responsive properties--------*/
@media only screen and (min-width: 575px) {
  .home-top h1 {
    font-size: 3.2em;
    line-height: 130%;
  }
  .home-top .ht-sections {
    gap: 20px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .home-about .ha-image {
    height: 700px;
  }
  .home-about .ha-numbers {
    max-width: 450px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .ho-sections {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .ho-sections .ho-section {
    background: #191919;
    -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  }
  .ho-sections .ho-section img {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  .ho-sections .ho-section:hover {
    background: -webkit-linear-gradient(-45deg, #f81f01 0%, #ee076e 100%);
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .ho-sections .ho-section:hover img {
    -webkit-filter: brightness(50);
            filter: brightness(50);
  }
  .contact .photo {
    height: 420px;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    max-width: 765px;
  }
  .home-top h1 {
    font-size: 4.3em;
  }
  .home-quality .hq-sections .hq-inner {
    width: 50%;
    margin-right: 0px;
  }
  .home-quality .hq-ffacts {
    gap: 20px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .home-quality .hq-ffacts .facts-inner p:first-child {
    font-weight: bold;
    font-size: 3.3em;
  }
  .p-testimonials p.people-desc {
    font-size: 1.5em;
  }
  .p-testimonials .people-sections {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  .p-testimonials .people-sections .p-photo:nth-of-type(6) {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .pricing .pricing-tables {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .contact .photo {
    height: 550px;
  }
  .shop-lightbox {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  footer .left-footer {
    min-height: 400px;
  }
  footer .left-footer p {
    font-size: 0.9em;
    font-weight: lighter;
    letter-spacing: 3px;
  }
  footer .left-footer h3 {
    font-size: 4.5em;
  }
  footer .left-footer button {
    padding: 10px 30px;
    width: 180px;
  }
  footer .left-footer button a {
    font-weight: bold;
  }
  footer .right-footer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  footer p.last {
    display: inline-block;
    width: 500px;
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 992px) {
  .wrapper {
    max-width: 990px;
  }
  header {
    height: 120px;
  }
  header img:last-child {
    display: none;
  }
  header nav {
    display: inline-block;
    margin-right: 20px;
  }
  header nav ul li {
    float: left;
    margin-right: 20px;
  }
  header nav ul li a {
    font-weight: 300;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  header nav ul li a:hover {
    color: #ee076e;
  }
  header nav ul li a.active {
    color: #ee076e;
  }
  .home-top {
    padding-bottom: 100px;
  }
  .home-top h1 {
    margin-top: 160px;
    margin-bottom: 80px;
    font-size: 5em;
    line-height: 100%;
  }
  .home-top .ht-sections {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .home-about .wrapper {
    -ms-grid-columns: 0.9fr 2fr;
        grid-template-columns: 0.9fr 2fr;
    gap: 40px;
  }
  .home-about .ha-image {
    height: 430px;
  }
  .home-quality .hq-sec-nav {
    margin-top: 20px;
  }
  .pricing .pricing-tables {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .pricing .pricing-tables .pricing-table:hover {
    background: -webkit-linear-gradient(-45deg, #f81f01 -20%, #ee076e 100%);
    border: none;
  }
  .pricing .pricing-tables .pricing-table:hover p, .pricing .pricing-tables .pricing-table:hover a, .pricing .pricing-tables .pricing-table:hover ul li, .pricing .pricing-tables .pricing-table:hover ul li span, .pricing .pricing-tables .pricing-table:hover p.plan, .pricing .pricing-tables .pricing-table:hover p.price, .pricing .pricing-tables .pricing-table:hover p.upm {
    color: #fff;
  }
  .pricing .pricing-tables .pricing-table:hover button {
    background-color: #fff;
  }
  .pricing .pricing-tables .pricing-table:hover button a {
    color: #ee076e;
  }
  .testimonials .wrapper {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  .testimonials .wrapper img {
    width: 80px;
  }
  .testimonials .wrapper img:nth-of-type(7) {
    display: none;
  }
  .testimonials .wrapper img:nth-of-type(8) {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .home-quality .hq-sections .hq-inner {
    width: 25%;
  }
  .contact .wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .contact .wrapper .main {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .contact .wrapper .photo {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
  }
  footer {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    overflow-y: visible;
  }
  footer p.last {
    width: 400px;
  }
  footer .right-footer {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .ho-sections {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .home-our .ho-sections {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    max-width: 1199px;
  }
}
/*# sourceMappingURL=style.css.map */