/*Home general styles*/

h2.sec-pinkhead{
    width: 100%;
    margin:30px 0;
    color: #ee0739;
    font-weight: 200;
}
p.sec-head{
    width: 100%;
    font-weight: bold;
    font-size: 1.9em;
    line-height: 130%;
}
p.sec-desc{
    letter-spacing: 1px;
    color: rgb(194, 194, 194);
    font-weight: 100;
    font-size: 15px;
    word-spacing: 1px;
    line-height: 160%;
    padding:30px 0;
}

/*Home general styles*/

.home-top{
    padding: 90px 0 20px 0;
    h1{
        @include gradientText();
        font-weight: 800;
        font-size:2.8em;
        padding-bottom:20px;
    }
    .ht-sections{
        img{width: 50px;}
        display: grid;
        grid-template-columns: 1fr;
        .ht-section{
            //border:1px solid blue;
            margin-bottom:30px;
            p.ht-heading{
                font-size: 1.1em;
                font-weight: 200;
                color:rgb(214, 214, 214);
                padding:18px 0;
            }
            p.ht-description{
                letter-spacing: 1px;
                color: rgb(194, 194, 194);
                font-weight: 100;
                font-size: 15px;
                word-spacing: 1px;
                line-height: 160%;
            }
        }
    }
}

.home-about{
    background-color: $lighterBack;
    padding: 60px 0;
    .wrapper{
        display: grid;
        //grid-template-columns: 1fr 2fr;
        grid-template-columns: 1fr;
    }
    //border:1px solid red;
    .ha-image{
        height: 500px;
        border-radius: 10px;
        @include backImg();
        background-image: url(../images/home/about-1.jpg);
    }
    .ha-numbers{
        color:#f81f01;
        display:grid;
        gap:10px;
        //grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        font-size: 0.9em;
        p.awards_num{
            color:#ee076e;
            margin-top: 10px;
            font-size: 1.8em;
            font-weight: bold;
        }
    }
}

.home-our{
    padding:50px 0;
    h2.sec-pinkhead,p.sec-head,p.sec-desc{
        text-align: center;
    }
}
/*Stilizovanje gradijentalnih sekcija*/
.ho-sections{
    display: grid;
    grid-template-columns: 1fr;
    gap:30px;
}
.ho-section{
    //border: 1px solid orangered;
    padding:30px;
    border-radius: 7px;
    background: -webkit-linear-gradient(-45deg,#f81f01 0%,#ee076e 100%);
    /*Hover should delete img filter and background color(put colored background for hover)*/
    img{
        width: 50px;
        filter: brightness(50);
    }
    p:first-of-type{
        font-size: 1.1em;
        font-weight: 300;
        padding:20px 0; 
    }
    p:last-of-type{
        line-height: 160%;
    }
}
/*Stilizovanje gradijentalnih sekcija*/
.home-quality{
    h2.sec-pinkhead,p.sec-head{
        text-align: center;
    }
    p.sec-head{
        padding-bottom: 40px;
    }
    padding:50px 0;
    background-color: $lighterBack;
    width: 100%;
    //border:1px solid blue;
    overflow: hidden;
    /*-------SLIDER-----*/
    .hq-sections{
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        
        &::-webkit-scrollbar{
            height: 5px;
        }
        scrollbar-width: thin;
        scrollbar-color:#0ff ;
        &::-webkit-scrollbar-track{
            background: #3f3f3f;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #3f3f3f;
            border-radius: 4px;
            border:3px solid #ee076e;
        }

        .hq-inner{
            scroll-snap-align: start;
            flex-shrink: 0;
            width: 100%;
            height: 480px;
            margin-right: 50px;
            //border:1px solid orange;
            padding:20px;
            .background{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content:end;
                border-radius: 5px;
                padding:20px;
                @include backImg();
                //border:1px solid orange;
                p:first-of-type{
                    color:rgb(196, 196, 196);
                    font-size: 0.9em;
                }
                p:last-of-type{
                    font-weight: 300;
                    font-size: 1.2em;
                    margin:30px 0;
                    text-transform: capitalize;
                }
                button{
                    background-color:transparent;
                    border: 2px solid rgba(133, 133, 133,0.8);
                    border-radius: 7px;
                    width: 150px;
                    padding:7px 0;
                    transition: all 0.2s ease-in-out;
                    
                    &:hover{
                        background-color:#ee076e ;
                    }
                    a{
                        color:#fff;
                        font-size: 1.05em;
                        background-color: transparent;
                    }
                    cursor: pointer;
                }
                
            }
        }
        .hq-inner:nth-of-type(1) .background{
            background-image: url(../images/home/portfolio-6-390x532.jpg);
        }
        .hq-inner:nth-of-type(2) .background{
            background-image: url(../images/home/portfolio-1-390x532.jpg);
        }
        .hq-inner:nth-of-type(3) .background{
            background-image: url(../images/home/portfolio-5-390x532.jpg);
        }
        .hq-inner:nth-of-type(4) .background{
            background-image: url(../images/home/portfolio-7.jpg);
        }
        .hq-inner:nth-of-type(5) .background{
            background-image: url(../images/home/portfolio-8.jpg);
        }
        .hq-inner:nth-of-type(6) .background{
            background-image: url(../images/home/portfolio-1-390x532.jpg);
        }
    }
    /*Slider navigation*/
    .hq-sec-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;
        /*
        .point{
            width: 7px;
            height: 7px;
            border-radius: 50%;
            margin:0 8px;
            background-color: grey;
        }
        .p-active{
            box-sizing: content-box;
            background-color: transparent;
            border:2px solid #ee076e;
        }
        */
    }
    .wrapper{
        margin-top: 60px;
    }
    .hq-ffacts{
        display: grid;
        //grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        text-align: center;
        .facts-inner{
            //border:1px solid orange;
            padding:15px 0;
            p:first-child{
                color:#ee076e;
                font-weight: 300;
                font-size: 2.5em;
            }
            p:last-child{
                color: rgb(141, 141, 141);
                font-weight: 200;
                word-spacing: 1px;
                line-height: 170%;
                padding:10px 0;
            }
        }
    }
}

.home-ourservices-heading{
    @include backImg();
    background-image: url(../images/home/honeycomb-background.jpg);
    //border:2px solid orange;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    h2{
        @include gradientText();
        font-weight: bold;
        font-size: 2.1em;
        padding-bottom: 40px;
    }
    p{
        color: rgb(141, 141, 141);
        font-weight: 200;
        word-spacing: 1px;
        line-height: 170%;
        padding:10px 0;
        span{
            color:#fff;
        }
    }
}
/*Za responsivni dizajn kontrolisati generalne klase*/
.home-ourservices, .home-marketing,.home-reporting{
    padding:50px 0;
    h2.sec-pinkhead{
        margin:10px 0;
    }
    p.ho-heading{
        padding-bottom: 30px;
    }
}

.p-testimonials{
    //border:1px solid blue;
    padding:70px 0;
    text-align: center;
    background: $lighterBack;
    p.people-desc{
        font-weight: 200;
        font-size: 1.2em;
        line-height: 180%;
        padding-bottom: 30px;
    }
    p.people-name{
        font-size: 0.8em;
        font-weight: 200;
        span{
            font-weight: lighter;
            letter-spacing: 1px;
            opacity: 0.7;
            line-height: 150%;
        }
    }
    .people-sections{
        max-width: 510px;
        display: grid;
        gap:10px;
        grid-template-columns: repeat(4,1fr);
        margin-top:30px;
        position: relative;
        left:50%;
        transform: translateX(-50%);
        .p-photo{
            max-width: 80px;
            height: 80px;
            border-radius: 5px;
            transition: all 0.1s;
            cursor: pointer;
            //border:1px solid greenyellow;
            @include backImg();
            &:nth-of-type(1){
                background-image: url(../images/home/testimonial-1.jpg);
            }
            &:nth-of-type(2){
                background-image: url(../images/home/testimonial-2.jpg);
            }
            &:nth-of-type(3){
                background-image: url(../images/home/testimonial-3.jpg);
            }
            &:nth-of-type(4){
                background-image: url(../images/home/testimonial-4.jpg);
            }
            &:nth-of-type(5){
                background-image: url(../images/home/testimonial-5.jpg);
            }
            &:nth-of-type(6){
                background-image: url(../images/home/testimonial-6.jpg);
            }
            &:nth-of-type(7){
                background-image: url(../images/home/testimonial-7.jpg);
            }
            &:nth-of-type(8){
                background-image: url(../images/home/testimonial-8.jpg);
            }
            &:hover{
                opacity: 0.8;
            }
        }
    }
}
.testimonials{
    //border:1px solid salmon;
    max-width: 700px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin:70px 0;
    .wrapper{
        //max-width: 300px;
        //border:3px solid green;
        display: grid;
        gap:20px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    img{
        filter: brightness(7);
        //border: 1px solid blue;
        position: relative;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
}

.pricing{
    text-align: center;
    margin-bottom: 70px;
    .pricing-tables{
        //border:1px solid greenyellow;
        display: grid;
        //For Responsive
        //grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        gap:20px;
    }
    .pricing-table{
        border:2px solid rgba(128, 128, 128, 0.753);
        border-radius: 7px;
        transition: all 0.3 cubic-bezier(0.755, 0.05, 0.855, 0.06);
    }
    .pricing-table .top{
        position: relative;
        p.plan{
            padding:30px 0;
            font-weight: 300;
        }
        p.price{
            font-size: 4em;
            font-weight: 300;
            color:#ee076e;
        }
        p.upm{
            font-size: 0.8em;
            color:#ee076e;
            padding-bottom: 30px;
        }
        &::after{
            content:'';
            position: absolute;
            width:180px;
            height: 2px;
            bottom:2px;
            left:50%;
            transform: translateX(-50%);
            background-color: #ee076f42;
        }
    }
    .pricing-table .bottom{
        ul{
            padding:30px 0 20px 0;
        }
        li{
            font-weight: 200;
            color:rgb(194, 194, 194);
            font-size: 0.9em;
            padding-bottom:20px;
            span{
                color:#ee076e;
            }
        }
        button{
            background-color:transparent;
            border: 2px solid #ee076e;
            border-radius: 7px;
            width: 150px;
            padding:7px 0;
            transition: all 0.2s ease-in-out;
            margin-bottom: 35px;
            &:hover{
                transform: translateY(-10%);
            }
            a{
                background-color: transparent;
            }
            cursor: pointer;
        }
    }
}
.pricing .pricing-tables .active{
    background: -webkit-linear-gradient(-45deg,#f81f01 -20%,#ee076e 100%);
    border:none;
    p,a,ul li,ul li span,p.plan,p.price,p.upm{
        color:#fff;
    }
    button{
        background-color: #fff;
        border:none;
        a{
            color:#ee076e;
        }
    }
}

.contact-field{
    background: $lighterBack;
    padding:65px 0;
    h2.sec-pinkhead,p.sec-head,p.sec-desc{
        text-align: center;
    }
    .ho-sections .ho-section{
        background-color: #121212;
    }
}

.contact{
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap:40px;
        padding:70px 20px;
    }
    .photo{
        @include backImg();
        background-image: url(../images/home/about-6-768x811.jpg);
        width: 100%;
        height: 330px;
        border-radius: 10px;
    }
    .main{
        p.contact-heading{
            font-weight: bold;
            font-size: 2.8em;
        }
        p.sec-desc a{
            font-weight: 200;
        }
        form{
            display: flex;
            flex-direction: column;
            width: 100%;
            input{
                font-family: popins, sans-serif;
                font-weight: lighter;
                height: 45px;
                margin-bottom: 20px;
                background-color: transparent;
                border:1px solid rgb(94, 94, 94);
                border-radius: 7px;
                color:#fff;
                box-sizing: border-box;
                padding-left: 20px;
            }
            textarea{
                resize: none;
                max-width: 100%;
                height: 130px;   
                margin-bottom: 20px;
                background-color: transparent;
                border:1px solid rgb(94, 94, 94);
                border-radius: 5px;
                border-radius: 7px;
                color:#fff;
                font-family: popins, sans-serif;
                font-weight: lighter;
                font-size: 0.9em;
                box-sizing: border-box;
                padding-left: 20px;
                padding-top: 10px;
            }
            input[type="submit"]{
                box-sizing: border-box;
                background-color: #ee076e;
                color:#fff;
                height: auto;
                width: 200px;
                border:2px solid transparent;
                font-size: 0.9em;
                font-weight: 200;
                letter-spacing: 1px;
                padding:10px 20px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:hover{
                    border:2px solid #ee076e;
                    background-color: transparent;
                    color:#ee076e;
                }
            }
        }
    }
}